@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@opensans: 'Open Sans', sans-serif;
@blue-normal: #1565C0;
@blue-light: #79B6FB;
@white-bright: #AAC7E8;
@white: #FFF;
@white-dark: #F0F1F2;
@red-vine: #FE5D58;
@red: #F5413C;
/*header styles*/
.bg-blue {
	background: @blue-normal url("../images/bgfon.png") no-repeat scroll 90% 107%;
}
header {
	padding-bottom: 123px;
}
nav {
	.logo {
		img {
		padding: 0px 17px;
		margin: 90px 0px 0px;
		display: block;
		}
	}
}
.defult-nav {
	text-align: right;
	padding: 0px 36px;
	margin: 95px 0px 0px;
	li {
	display: inline-block;
	vertical-align: top;
		a {
			font-family: @opensans;
			font-size: 15px;
			font-weight: 600;
			color: @blue-light;
							    -webkit-transition: 0.3s;
				    -moz-transition: 0.3s;
				    -o-transition: 0.3s;
				    -ms-transition: 0.3s;
				    transition: 0.3s;
			&:hover {
			text-decoration: none;
			color: @white;
							    -webkit-transition: 0.3s;
				    -moz-transition: 0.3s;
				    -o-transition: 0.3s;
				    -ms-transition: 0.3s;
				    transition: 0.3s;
			}
		}
	}
	.separator {
	display: inline-block;
	vertical-align: top;
	font-family: @opensans;
	font-size: 15px;
	font-weight: 600;
	color: @blue-light;
	margin: 0px 3px 0px 1px;
	font-style: italic;
	}
}
.promout-block {
	.left {
		h1 {
		font-family: @opensans;
		font-size: 58px;
		font-weight: 300;
		color: @white-bright;
		letter-spacing: 0px;
		display: block;
		width: 110%;
		margin: 232px 33px 0px;
		line-height: 70px;
			.uppercase {
			text-transform: uppercase;
			font-style: normal;
			}
		}
		p.strong {
		font-family: @opensans;
		font-size: 18px;
		line-height: 30px;
		font-weight: 600;
		color: @white;
		display: block;
		margin: 55px 0px 0px 38px;
		width: 100%;
		}
		.buttons-group {
		margin: 59px 0px 0px;
		width: 110%;
			li {
			display: inline-table;
			vertical-align: top;
				a {
				display: block;
				font-family: @opensans;
				font-size: 15px;
				font-weight: 600;
				color: @blue-normal;
				text-transform: uppercase;
				    -webkit-transition: 0.3s;
				    -moz-transition: 0.3s;
				    -o-transition: 0.3s;
				    -ms-transition: 0.3s;
				    transition: 0.3s;
					&.left {
					background: @white;
					padding: 19px 62px;
					margin-left: -2px;
					margin-right: 7px;
					border-radius: 100px;
					&:hover {
					text-decoration: none;
					background: @white-dark;
									    -webkit-transition: 0.3s;
				    -moz-transition: 0.3s;
				    -o-transition: 0.3s;
				    -ms-transition: 0.3s;
				    transition: 0.3s;
					}
					} 
					&.right {
					background: @red-vine;
					border-radius: 100px;
					color: @white;
						.fa-apple {
						display: inline-table;
						vertical-align: top;
						font-size: 31px;
						margin: 13px 19px 15px 39px;
						}
						.some-text {
						display: inline-table;
						vertical-align: top;
						font-style: normal;
						margin: 18px 41px 0px 0px;
						}
						&:hover {
						background: @red;
										    -webkit-transition: 0.3s;
				    -moz-transition: 0.3s;
				    -o-transition: 0.3s;
				    -ms-transition: 0.3s;
				    transition: 0.3s;
						}
					}
				}
			}
		}
		.social-links {
		margin: 135px -1px 20px;
			li {
			display: inline-table;
			vertical-align: top;
			margin-right: 6px;
			}
		}
	}
	.right {
	position: relative;
		img.img-responsive {
			position: absolute;
			right: -61px;
			top: 92px;
		}
	}
}
/*header styles*/
/*resize styles*/
@media (max-width: 768px) {
	.defult-nav {
	text-align: center;
	margin: 20px 0px 0px;
	padding: 0px;
	}
	nav {
	.logo {
		img {
		padding: 0px 0px;
		margin: 20px auto 0px;
		display: block;
		}
	}
}
}
@media (max-width: 1200px) {
	.promout-block {
	.left {
		h1 {
		font-size: 51px;
		}
		}
		}
}
@media (max-width: 991px) {
		.right {
	position: relative;
		img.img-responsive {
			position: initial !important;
			display: block;
			margin: 52px auto;
		}
	}
		.left {
		h1 {
		font-size: 51px;
		margin: -30px 0px 0px !important;
		width: 100% !important;
		}
		p.strong {
		margin: 20px 0px 0px 0px !important;
		width: 100% !important;
		}
		.buttons-group {
		padding: 0px;
		}
		.social-links {
	    margin: 20px -1px 20px !important;
	    padding: 0px;
	}
		}
}
@media (max-width: 508px) {
	.left {
			h1 {
		font-size: 38px !important;
		line-height: 40px !important;
		}
	.buttons-group {
    margin: 30px 0px 0px !important;
    width: 100% !important;
    	li {
    	display: block !important;
    	margin: 10px auto;
    		a {
    		padding: 19px 0px !important;
    		width: 100% !important;
    		text-align: center;
    		&.right {
    		padding: 0px 0px !important;
    		.fa-apple {
   			 margin: 13px 19px 15px 26px !important;
}
.some-text {
    margin: 18px 36px 0px 0px !important;
}
    		}
    		}
    	}
	}
	.social-links {
    margin: 135px -1px 20px;
    text-align: center;
}
	}
}
/*resize styles*/